*{
    margin: 0;
    padding: 0;
    /* background-color: #becbd2;  */
}
.calc{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

}
.display{

    text-align: right;
    background: #212121;
    height: 40px;
    border: 0px;
    margin-bottom: -1px; 
    color: #fff;
    font-size: 38px;
    line-height: 26px;
    padding-right: 5px; 

    

}
.above{
    width: 245px;
    line-height: 20px;
    font-size: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.scroll{
    width: 245px;
    height: 40px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.item{
   
    display:inline-block;

    vertical-align:top;
}

.item ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: transparent; 
    box-shadow: inset 0 0 6px transparent; 
}
.btn{
    width: 35px;
    height: 55px;
    background: #cccfd1;
    border: 1px solid #95969a5c;
    color: #000;
    font-size: 38px;
    line-height: 55px;
    text-align: center;
    display: table-cell;
    cursor: pointer;
}
.btn:hover{
    background: #f99212;
}
.clear{
    width: 108px;
}
.zero{
    width: 71px;
}
.row{
    display: table;
    width: 250px;
}
.operator{
    background: #f99212;
}